.navigation-bar {
    width: 200px;
    display: flex;
    justify-content: center;
}

.navigation-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation-bar li {
    text-transform: uppercase;
}

.navigation-bar .section-link {
    display: block;
    padding-bottom: 1em;
    text-decoration: none;
    color: #b4c6df;
    font-weight: bold;
    transition: font-size 0.1s ease;
}

.navigation-bar .section-link.active,
.navigation-bar .section-link:hover {
    cursor: pointer;
    background-color: #f1f1f1;
    color: #ffffff;
    font-size: 1.1em;
}

.navigation-bar .section-link:hover,
.navigation-bar .section-link.active {
    background-color: transparent;
}
