.navigation-bar {
    width: 200px;
    display: flex;
    top: 50%;
    position: fixed;
    justify-content: center;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        text-transform: uppercase;
    }

    .section-link {
        display: block;
        padding-bottom: 1em;
        text-decoration: none;
        color: $regular-color;
        font-weight: bold;
        transition: font-size 0.1s ease;
    }

    .section-link.active,
    .section-link:hover {
        cursor: pointer;
        background-color: #f1f1f1;
        color: $primary-color;
        font-size: 1.1em;
    }

    .section-link:hover,
    .section-link.active {
        background-color: transparent;
    }
}
