.header {
    &__title {
        font-size: 5rem;
        font-weight: bold;
        background: linear-gradient(0, #93a6c9, #d0dcea);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__description {
        font-size: 1.5rem;
        color: $regular-color;
    }
    
    &__resume-link {
        color: $regular-color;
        text-decoration-color: $regular-color;
    }
}
